  <!-- Modal Structure -->
  <div id="commentModal" class="saveComment">
    <div class="modal-content">
      <h4>Comments for: {{this.title}}</h4>
      <p>{{this.comment}}</p>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Save Comment</a>
    </div>
  </div>
          