<footer class="page-footer black lighten-1">
  <div class="footer-copyright black">
    <div class="container">
      All articles belong to <a class="cplink" href="https://www.theonion.com/" target="_blank">The Onion</a>
    </div>
  </div>
</footer>