<div>
  <h1 class="card-panel center-align">Saved the Fake'n News!</h1>
</div>

<div class="row">
  <div class ="col s6 left-align">
    {{#each article}}
      <div class="card-panel">
        <h4>{{this.title}}</h4>
        <p>{{this.summary}}</p>
        <div class="left-align">
          <button type="button" class="waves-effect waves-light btn blue lighten-1" id="addBtn" data-target="addComment" data-id={{this._id}}>Add Comment</button>
          <button type="button" class="delete waves-effect waves-light btn red lighten-1" id="btn" data-id={{this._id}}>Delete from Saved</button>
        </div>
      </div>
    {{/each}}
  </div>
    <div id="comments"></div>
</div>
