  <nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo center">Fake News Scrap</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a  class="waves-effect waves-light btn modal-trigger" id="commentModal" href="/saved">Saved Articles</a></li>
        <li><a href="/clearall">Clear Scrape</a></li>
        <li><a href="https://github.com/elpr1988/scrapeIt" target="_blank">Git Repo</a></li>
      </ul>
    </div>
  </nav>